{% extends "base_generic.html" %}

{% block content %}
<div class="text_body">
  <p> I finished loading all the content in the second section. I will start now the third and last section, which is ussually the longest </p>
  <div id="loading_div"></div>
  <div id="button_div"><a href="{% url 'results_page_third' %}" id="a_yes"> <button type="button" id="yes_btn"><span>Yes</span></button> </a></div>
</div>
  {% load static %}
  <script src="{% static 'js/homepage.js' %}"></script>
{% endblock %}
